body{
  padding-top:20px;
}
.col-xs-3{
  padding-right: 2px;
}
.row{
  padding-bottom: 2px;
}
.container{
  padding-top:10px;
}
Button{
  width:100px;
  padding-right:0px;
}
.ulli{
  list-style-type:none;
  padding: 0;
  margin:0;
}
.results{
  background-color:#ffe229;
}
.resultdiv{
    background-color:#ffe229;
    height:50px;

}
.appdiv{
float:center;
text-align:center;
width:30%;
}
.historyDiv{
  height:100px;
  background-color: #f0f0f0;
  overflow-y: scroll;
}
